{
  "version": 1,
  "lineLength": 120,
  "indentation": {
    "style": "spaces",
    "count": 4
  },
  "maximumBlankLines": 1,
  "respectsExistingLineBreaks": true,
  "lineBreakBeforeControlFlowKeywords": true,
  "lineBreakBeforeEachArgument": false,
  "prioritizeKeepingFunctionOutputTogether": true,
  "indentConditionalCompilationBlocks": true,
  "lineBreakAroundMultilineExpressionChainComponents": true,
  "fileHeader": "",
  "rules": {
    "AllPublicDeclarationsHaveDocumentation": "enabled",
    "AlwaysUseLowerCamelCase": "enabled",
    "AmbiguousTrailingClosureOverload": "enabled",
    "BeginDocumentationCommentWithOneLineSummary": "enabled",
    "DoNotUseSemicolons": "enabled",
    "DontRepeatTypeInStaticProperties": "enabled",
    "FileHeader": "enabled",
    "FullyIndirectEnum": "enabled",
    "GroupNumericLiterals": "enabled",
    "IdentifiersMustBeASCII": "enabled",
    "NeverForceUnwrap": "enabled",
    "NeverUseForceTry": "enabled",
    "NeverUseImplicitlyUnwrappedOptionals": "enabled",
    "NoAccessLevelOnExtensionDeclaration": "enabled",
    "NoBlockComments": "enabled",
    "NoCasesWithOnlyFallthrough": "enabled",
    "NoEmptyTrailingClosureParentheses": "enabled",
    "NoLabelsInCasePatterns": "enabled",
    "NoLeadingUnderscores": "enabled",
    "NoParensAroundConditions": "enabled",
    "NoTrailingCommas": "enabled",
    "NoTrailingWhitespace": "enabled",
    "NoUnusedImports": "enabled",
    "OneCasePerLine": "enabled",
    "OneVariableDeclarationPerLine": "enabled",
    "OnlyOneTrailingClosureArgument": "enabled",
    "OrderedImports": "enabled",
    "ReturnVoidInsteadOfEmptyTuple": "enabled",
    "UseLetInEveryBoundCaseVariable": "enabled",
    "UseShorthandArraySyntax": "enabled",
    "UseShorthandDictionarySyntax": "enabled",
    "UseSingleLinePropertyGetter": "enabled",
    "UseSynthesizedInitializer": "enabled",
    "UseTripleSlashForDocumentationComments": "enabled",
    "UseWhereClauseInForEach": "enabled",
    "ValidateDocumentationComments": "enabled"
  }
}
